div{
    border: 2px solid red;
  
}
.box{
    margin-top: 100px; 
    border: 5px solid; 
    height: 150px;  
    position: relative;
    height: 1000px; 
}
.box1{
    background-color: green;
    position: sticky; 
    top: 0; 
    z-index: 3;

}

.box2{
    background-color: blue;
    position: relative; 
    z-index: 2;
     margin: 10px;  
   
}

.box3{
    background-color: slateblue;
    position: relative; 
    z-index: 1;
    margin: 20px;  
    
}
main{
    height: 5000px;
}